<div id="<%= dom_id a_sexo_animal %>">
  <p>
    <strong>Descricao:</strong>
    <%= a_sexo_animal.descricao %>
  </p>

  <p>
    <strong>Sigla:</strong>
    <%= a_sexo_animal.sigla %>
  </p>

</div>
