<div class="container-fluid py-5">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px">
        <div class="position-relative h-100">
          <%= image_tag "/layout/assets/img/Adote1Amor.png", class: "position-absolute w-100 h-100", style: "object-fit: cover" %>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="section-title position-relative mb-4">
          <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">
            Sobre Nós
          </h6>
          <h1 class="display-4">
            Transformando Vidas, Unindo Corações
          </h1>
        </div>
        <p>
          Aqui, cada adoção é um ato de esperança, onde vidas são transformadas e histórias ganham um novo capítulo. Nossa missão vai além de simplesmente encontrar lares; queremos criar conexões verdadeiras, duradouras e cheias de afeto.
          Junte-se a nós e ajude a espalhar amor, cuidado e uma nova oportunidade para quem tanto precisa. Porque adotar é muito mais que um gesto: é um compromisso de vida.
        </p>
        <div class="row pt-3 mx-0">
          <div class="col-3 px-0">
            <div class="bg-success text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">123</h1>
              <h6 class="text-uppercase text-white">
                Available<span class="d-block">Subjects</span>
              </h6>
            </div>
          </div>
          <div class="col-3 px-0">
            <div class="bg-primary text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">1234</h1>
              <h6 class="text-uppercase text-white">
                Online<span class="d-block">Courses</span>
              </h6>
            </div>
          </div>
          <div class="col-3 px-0">
            <div class="bg-secondary text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">123</h1>
              <h6 class="text-uppercase text-white">
                Skilled<span class="d-block">Instructors</span>
              </h6>
            </div>
          </div>
          <div class="col-3 px-0">
            <div class="bg-warning text-center p-4">
              <h1 class="text-white" data-toggle="counter-up">1234</h1>
              <h6 class="text-uppercase text-white">
                Happy<span class="d-block">Students</span>
              </h6>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
