<div id="<%= dom_id a_evento_animal %>">
  <p>
    <strong>A animal:</strong>
    <%= a_evento_animal.a_animal_id %>
  </p>

  <p>
    <strong>A tipo evento:</strong>
    <%= a_evento_animal.a_tipo_evento_id %>
  </p>

  <p>
    <strong>A status:</strong>
    <%= a_evento_animal.a_status_id %>
  </p>

</div>
